.contact {
  width: 20%;

  @include responsive(phone) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__group:not(:last-child) {
    margin-bottom: 6rem;
  }

  &__heading {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color-orange;
  }
}
