.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  &__heading {
    font-size: 6.4rem;
    color: $color-orange;
  }

  &__paragraph {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__link {
    font-weight: 700;
    color: #5893d4;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__icon {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}
