.footer-nav {
  padding: 3rem 0;
  background-color: $color-gray;
  display: flex;
  justify-content: center;

  &__item {
    width: 4rem;
    height: 4rem;
    border: 2px solid $color-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      border: none;
      background-color: $color-orange;
    }
  }

  &__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: $color-white;
  }
}
