.menu-section {
  &__heading {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    color: $color-orange;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;

    @include responsive(phone) {
      flex-direction: column;
    }
  }

  &__line {
    width: 50%;
    height: 1px;
    background-color: $color-orange;
    margin: 4rem auto;
  }
}

.menu-item-drink {
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
}

.menu-item {
  width: calc(100% / 3 - 4.5rem);
  margin-bottom: 3rem;
  position: relative;

  @include responsive(phone) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 4.5rem;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    font-size: 1.6rem;
  }

  &__desc {
    margin-right: 5rem;
  }
}

.drinks-section {
  width: calc(100% / 3);

  @include responsive(phone) {
    width: 100%;
  }

  &:not(:last-child) {
    margin-right: 4.5rem;
  }
}
