.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 6rem 10rem;

  @include responsive(tab-land) {
    padding: 6rem 4rem;
  }

  @include responsive(phone) {
    padding: 4rem 2rem;
  }

  &--big {
    padding: 14rem 10rem;

    @include responsive(tab-land) {
      padding: 14rem 4rem;
    }
  }
}

.about-us {
  display: flex;
  justify-content: space-between;

  @include responsive(phone) {
    flex-direction: column;
  }
}

.drinks-flex {
  display: flex;

  @include responsive(phone) {
    flex-direction: column;
  }
}

.reservation {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  @include responsive(phone) {
    width: 100%;
  }

  &__heading {
    color: $color-orange;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__paragraph {
    margin-bottom: 2rem;
  }
}

.footer {
  background: #222;
  color: $color-white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.copyright {
  margin-top: 2rem;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
